#footer{

    position: sticky;
    bottom: 0px;
    padding: 0.5rem;
    
    background-color: var(--light);
}
#navbar{
    padding: 0.5rem;
    background-color: var(--light);
    position: sticky;
    top: 0px;
}

