<div class="container my-2">
    <h1 class="h1 text-center">Write Post</h1>
    <form class="m-4 p-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Post Title</label>
        <input type="text" class="form-control" id="postTitle" aria-describedby="postTitle" placeholder="Post Ttile">
        <small id="postTitleHelp" class="form-text text-muted">Enter the title for your post</small>
      </div>
      <div class="form-group">
        <textarea name="postBody" class="form-control" id="postBody" cols="102" rows="10" placeholder=" Post Body"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="btnWritePost">Submit</button>
    </form>
    
</div>

<script src="../app/write-post.js"></script>
